<h1>Spotify</h1>
<form style="display: flex; flex-direction: column" method="GET" action="/artist-search" >
  <label> Artist's Name : <input type="text" name="artistName" placeholder="Artist" /></label>
  <button type="submit">Search</button>
</form>
