
<link rel="stylesheet" href="/styles/home.css">
<div class="images">
  <div class="form-container">    
    <h1>Spotify</h1>
    <form  method="GET" action="/artist-search" >
      <label><input type="text" name="artistName" placeholder="Artist" /></label>
      <button type="submit">Search</button>
    </form>
  </div>
</div>
