<h1>Albums</h1>
<% allTracks.forEach((track, i) => { %>
    <li>
        <h1><%- track.name%></h1>
        <!-- <img src="<%#= track.images[0].url%>" alt="picture"> -->
        <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
        <audio controls src="<%- track.preview_url%>"></audio>
    </li>
    <% }) %>